*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Source Sans Pro', sans-serif;
		background-color: #393e46;
		text-align: left;
		align-items: center;
		padding: 70px 10px;
		color: #eeeeee;
}

a:hover{
	color: #38d39f;
}

h1{
	text-align: center;
}

.btn{
	display: inline;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #14b1ab, #14b1ab, #14b1ab);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
